<header class="bg-black sticky top-0 z-40" transition:persist>
  <nav class="mx-auto flex max-w-7xl items-center justify-between px-6 py-4 space-x-12">
    <div class="flex items-center space-x-6">
    
      <svg class="rounded h-8 w-8 p-1 bg-gray-300/20" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" aria-hidden="true" >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>

      <a href="/">
        <span class="sr-only">Brickoram Logo</span>
        <img src="/images/brickoram-logo-light.svg" alt="Brickoram Logo" width="210px" height="36px" />
      </a>

    </div>

    <div class="flex-1"></div>

    <div class="flex items-center space-x-6">
      <img class="rounded-full h-8 w-8 ring-2" src="/images/brickoram-favicon.svg" alt="User Profile" />
    </div>

  </nav>
</header>
